name: Docker

on:
  workflow_dispatch:
  push:
    branches: [ main ]
schedule:
  - cron: '* 2 * * *'

env:
  ALIYUN_REGISTRY: "${{ secrets.ALIYUN_REGISTRY }}"
  ALIYUN_NAME_SPACE: "${{ secrets.ALIYUN_NAME_SPACE }}"
  ALIYUN_REGISTRY_USER: "${{ secrets.ALIYUN_REGISTRY_USER }}"
  ALIYUN_REGISTRY_PASSWORD: "${{ secrets.ALIYUN_REGISTRY_PASSWORD }}"

jobs:
  build:
    name: Pull
    runs-on: ubuntu-latest
    steps:
    - name: Before freeing up disk space
      run: |
        echo "Before freeing up disk space"
        echo "=============================================================================="
        df -hT
        echo "=============================================================================="

    # 增加可用磁盘空间
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 2048
        swap-size-mb: 128
        remove-dotnet: 'true'
        remove-haskell: 'true'
        # 如果空间还是不够用，可以把以下开启，清理出更多空间
        # remove-android: 'true'
        # remove-codeql: 'true'

    - name: Restart docker
      run: sudo service docker restart

    - name: Free up disk space complete
      run: |
        echo "Free up disk space complete"
        echo "=============================================================================="
        df -hT
        echo "=============================================================================="

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push image Aliyun
      run: |
        docker login -u $ALIYUN_REGISTRY_USER -p $ALIYUN_REGISTRY_PASSWORD $ALIYUN_REGISTRY

        # 数据预处理, 判断镜像是否重名
        declare -A duplicate_images
        declare -A temp_map
        while IFS= read -r line || [ -n "$line" ]; do
          # 忽略空行与注释
          [[ -z "$line" || "$line" =~ ^\s*# ]] && continue
          
          # 获取镜像的完整名称
          image=$(echo "$line" | awk '{print $NF}')
          image="${image%%@*}"  # 去除@sha256:等字符
          echo "image $image"
          
          # 获取镜像名:版本号
          image_name_tag=$(echo "$image" | awk -F'/' '{print $NF}')
          echo "image_name_tag $image_name_tag"
          
          # 获取命名空间
          name_space=$(echo "$image" | awk -F'/' '{if (NF==3) print $2; else if (NF==2) print $1; else print ""}')
          echo "name_space: $name_space"
          name_space="${name_space}_"
          
          # 获取镜像名
          image_name=$(echo "$image_name_tag" | awk -F':' '{print $1}')
          echo "image_name: $image_name"
          
          # 如果镜像存在于数组中，则添加到 duplicate_images
          if [[ -n "${temp_map[$image_name]}" ]]; then
            if [[ "${temp_map[$image_name]}" != $name_space  ]]; then
              echo "duplicate image name: $image_name"
              duplicate_images[$image_name]="true"
            fi
          else
            temp_map[$image_name]=$name_space
          fi       
        done < images.txt

        # 逐个处理镜像
        while IFS= read -r line || [ -n "$line" ]; do
          # 忽略空行与注释
          [[ -z "$line" || "$line" =~ ^\s*# ]] && continue
        
          echo "docker pull $line"
          docker pull $line
          
          platform=$(echo "$line" | awk -F'--platform[ =]' '{if (NF>1) print $2}' | awk '{print $1}')
          echo "platform is $platform"
          platform_prefix=""
          if [ -n "$platform" ]; then
            platform_prefix="${platform//\//_}_"
          fi
          echo "platform_prefix is $platform_prefix"
          
          # 获取镜像信息
          image=$(echo "$line" | awk '{print $NF}')
          image_name_tag=$(echo "$image" | awk -F'/' '{print $NF}')
          name_space=$(echo "$image" | awk -F'/' '{if (NF==3) print $2; else if (NF==2) print $1; else print ""}')
          image_name=$(echo "$image_name_tag" | awk -F':' '{print $1}')
        
          name_space_prefix=""
          if [[ -n "${duplicate_images[$image_name]}" ]]; then
            if [[ -n "${name_space}" ]]; then
              name_space_prefix="${name_space}_"
            fi
          fi
          
          # 生成新的镜像标签并推送
          image_name_tag="${image_name_tag%%@*}"
          new_image="$ALIYUN_REGISTRY/$ALIYUN_NAME_SPACE/$platform_prefix$name_space_prefix$image_name_tag"
          echo "docker tag $image $new_image"
          docker tag $image $new_image
          echo "docker push $new_image"
          docker push $new_image

          # 清理磁盘空间
          echo "开始清理磁盘空间"
          echo "=============================================================================="
          df -hT
          echo "=============================================================================="
          docker rmi $image
          docker rmi $new_image
          echo "磁盘空间清理完毕"
          echo "=============================================================================="
          df -hT
          echo "=============================================================================="
            
        done < images.txt
